*, 
::before, 
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-div {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 220px auto;
    height: 100vh;
    overflow: hidden;  
}

.side-bar {
    border: 1px solid black;
    grid-row: 1 / 3;    
}

.nav-bar {
    grid-column: 2 / 3;
}

.main-body {
    grid-column: 2 / 3;
    grid-row: 2/ 3;    
}

.side-bar-grid {
    background-color: rgb(31, 68, 93);
    display: grid;
    grid-template-rows: 90px 270px 400px;
    grid-template-columns: 200px;
}

.dashboard-name {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    padding-left: 10px;
    
}

.dashboard-name > p {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.activities-list {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(6, 40px);
}

.activities {
    display: flex;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;    
}
.activities > p {
    font-size: 1.2rem;
    font-family: monospace;
    color: white;
}

.optimization {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: repeat(3, 40px);
}

.opt-options {
    display: flex;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
}

.opt-options > p{
    font-size: 1.2rem;
    font-family: monospace;
    color: white;
}

.nav-bar-grid {
    /* background-color: black; */
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;    
    background-color: rgb(247, 247, 241);
}

.search-bar-div {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;  
    align-items: center;
    padding-left: 30px;
}

.search-input {
    width: 70%;      
    border: none;
    border-radius: 10px;    
    background-color: rgb(241, 231, 231);
    margin-left: 10px;
    padding: 4px
}

.user-info-div {
    grid-column: 1 / 2;
    grid-row: 2 / 3;    
}

.user-info {
    display: flex;
    align-items: center;
    padding-left: 30px;    
}

.user-info > div {
    margin-right: 10px;
}

.greetings {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.name {
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
}


.user-activities-div {
    grid-row: 1 / 2;
    grid-column: 2 / 3;    
    padding-right: 30px;
}

.user-activities-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 40px;
}

.user-activities-div > p {
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
}

.buttons-div {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.buttons-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons-div > button {
    padding: 7px 20px;
    border: none;
    border-radius:  15px;
    background-color: rgb(31, 68, 93);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.main-body-grid {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;    
}

.projects {
    grid-column: 1 / 2;
    background-color: rgb(241, 231, 231);    
}

.projects > p {
    padding-top: 10px;
    padding-left: 17px;
    font-size: 1rem;
    font-family: monospace;

}

.projects-grid {
    display: grid;
    height: 100%;    
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;       
    padding: 10px 10px 50px 10px
}

.projects-grid > div {
    margin: 5px;
    border-radius: 10px;
    display: flex;    
    
}

.decor {
    width: 8px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(31, 68, 93);
}

.content {
    width: calc(100% - 5px);
    height: 100%;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
    background-color: white;    
    position: relative;
    background-color: rgb(247, 247, 241);
}


.project-title {
    font-size: 1.1rem;
    font-family: monospace;
    font-weight: bold;
    padding-bottom: 8px;
}

.project-desc {
    font-family: cambria;
    font-size: 14px;
    width: 90%;  
    color: rgb(133, 126, 126);
}

.project-access {      
    display: flex;
    position: absolute;
    right: 15px;    
    bottom: 15px;
}

.project-access > img {
    margin-left: 15px;
}

.announcements-trending {
    grid-column: 2 / 3;
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr;    
}



.announcements {
    grid-row: 1 / 2;
    height: 100%;
    background-color: rgb(241, 231, 231);    
    padding: 12px;
    
}

.announcements > p {
    font-size: 1rem;
    font-family: monospace;
    padding-bottom: 7px;
}

.announcement-title {
    font-size: 1rem;
    font-family: monospace;
    font-weight: bold;     
}

.announcement-desc {
    font-family: cambria;
    font-size: 12px;
    width: 80%;;
    color: rgb(133, 126, 126);
}

.announce-list {
    display: grid;
    height: 85%;
    width: 80%;;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(247, 247, 241);
    border-radius: 12px;
    padding: 7px;
}

.announce-lis > div {
    padding: 5px;
}

.announce-list > :first-child, 
.announce-list > :nth-child(2) {
    border-bottom: 1px solid rgb(185, 174, 174);
    padding-bottom: 6px;  
}

.trending {
    grid-row: 2 / 3;
    padding-left: 15px;
    background-color: rgb(241, 231, 231);
}

.trending > p {
    padding: 6px 0; 
    font-family: monospace;   
    font-size: 1rem;
}

.trending-list {
    display: grid;
    height: 80%;
    width: 80%;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    background-color: rgb(247, 247, 241);   
    border-radius: 12px;
}

.trending-list > div {
    display: flex;      
    padding: 8px;
}

.username {
    font-size: 13px;
    font-family: monospace;
    font-weight: bold;
}

.bio {
    font-family: cambria;
    font-size: 13px;
    color: gray;
}

